<div class="container-fluid">
    <mat-card>
        <div class="card-row">
            <div class="card-header">
                <h1>My Task List</h1>
            </div>
            <div class="card-body">
                <input mat-input placeholder="New Task" id="task">
                <button mat-raised-button color="primary">Add Task</button>
            </div>
            <div class="card-body">
                <h1>My Current Tasks</h1>
                <ul>
                    <li>Task 1</li>
                    <li>Task 2</li>
                    <li>Task 3</li>
                    <li>Task 4</li>
                </ul>
            </div>
        </div>
    </mat-card>
</div>